.quizBackground{
  background: url('../assets/medellin.jpg');
  background-size : cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.wrapper{
  margin: 0 20%;
  @media screen and (max-width:480px){
    margin: 0 10%;
  }
}

h1{
  @include fontIndie(2.5rem);
  color: #FFD000;
  text-shadow: 2px 2px 5px black;
  font-weight: 700;
  text-align: center;
}
.navContainer{
  @include fontIndie(1.2rem);
  text-align: center;
}
ul{
  display: flex;
  justify-content: space-between;
  li{
    text-shadow: 2px 2px 5px black;
    font-size: 2rem;
    font-weight: 700;
    @media screen and (max-width:480px) {
      font-size: 1.5rem;
      
    }
    a{
      color: #FFDC72;
    }
  }
}

// nav hover
.navContainer li a {
  position:relative;
  z-index: 1;
  }
.navContainer li a:hover {
  color: #FFDC72;
  }
.navContainer li a:after {
  display: block;
  position: absolute;
  transform:scale(1.1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '';
  color: transparent;
  background: #2D45B3;
  opacity: 0;
  z-index: -1;
  transition:.2s linear;
  }
.navContainer li a:hover:after {
  opacity: .5;
  visibility: visible;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
  height: 100%;
}
// end of hover
.quizBoxContainer{
  text-align: center;
  margin-top: 3%;
  @media screen and (max-width:480px){
    margin-top: 15%;
  }
}
.choiceBox{
    background: rgba(255,245,238,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
  }
// animate choice box
.bounceInTop {
	-webkit-animation: bounceInTop 1.1s both;
	        animation: bounceInTop 1.1s both;
}
// keyframes
@-webkit-keyframes bounceInTop {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounceInTop {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

// end of animation

  .title,
  .options{
    padding:1% 0;
    @media screen and (max-width:480px) {
      padding:3%;
        
      }
  } 
  .qTitle{
   padding: 2%;
    @include fontRaleway(20px);
    @media screen and (max-width:480px) {
        @include fontRaleway(16px);

      }
  }
 .options div{
   @include fontRaleway(20px);
   @media screen and (max-width:480px) {
        @include fontRaleway(16px);
      }
  }
  .answerBox{
    padding: 0 5%;
    @media screen and (max-width:480px) {
      padding: 5%;
    p{
      @include fontRaleway(20px);
      @media screen and (max-width:480px) {
        font-size: 16px;
      }
    }
  }
} 
  // for hiding button for js file before submit is clicked
  button{
    visibility: hidden;
    @include fontRaleway(20px);
  }
  // for styling button and input
  button,
  input,
  .buttonContainer a{
  display:inline-block;
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  @include fontRaleway(14px);
  font-weight:400;
  color:seashell;
  background: rgb(65,105,225);
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative; 
  }
    button:active,
    input:active,
    .buttonContainer a {
      box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  }

  input:focus {
    outline: 1px solid rgb(65,105,225);
  }
  
  // https://fdossena.com/?p=html5cool/buttons/i.frag for the very nice button style
  // https://codepen.io/maheshambure21/pen/QwXaRw for the hover effect