article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.background-home {
  background: url("../assets/guatape.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: 0px;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-title {
  text-align: center;
  padding: 1% 0;
}

.home-title h1 {
  font-family: "Indie Flower", cursive;
  font-size: 3.6rem;
  text-shadow: 2px 2px 5px black;
  font-weight: 700;
  color: #FFD000;
}

.tracking-in-expand {
  -webkit-animation: trackingInExpand 1s linear both;
  animation: trackingInExpand 1s linear both;
}

@-webkit-keyframes trackingInExpand {
  0% {
    letter-spacing: -0.4em;
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes trackingInExpand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.colombia-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 480px) {
  .colombia-contain {
    margin-top: 15%;
  }
}

.colombia {
  background: -webkit-gradient(linear, left top, left bottom, from(#FCD116), color-stop(50%, #FCD116), color-stop(50%, #003893), color-stop(75%, #003893), color-stop(75%, #CE1126), to(#CE1126));
  background: linear-gradient(to bottom, #FCD116 0%, #FCD116 50%, #003893 50%, #003893 75%, #CE1126 75%, #CE1126 100%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

.colombia:hover,
.colombia:focus,
.colombia:active {
  -webkit-box-shadow: 0 20px 20px -20px black;
          box-shadow: 0 20px 20px -20px black;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.container {
  text-align: center;
  padding: 1%;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 10%;
  }
}

.slide {
  -webkit-animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.go-quiz {
  width: 100%;
  margin: 2% auto;
  padding: 10%;
  background: rgba(250, 240, 230, 0.7);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.75);
}

.go-quiz h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}

.go-quiz p {
  margin: 2%;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.go-quiz h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-style: italic;
  font-weight: 300;
}

footer {
  background: rgba(250, 240, 230, 0.7);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  padding: 1%;
}

footer div {
  text-align: center;
}

@media screen and (max-width: 480px) {
  footer div {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
}

.quiz-background {
  background: url("../assets/medellin.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  margin: 0 20%;
}

@media screen and (max-width: 480px) {
  .wrapper {
    margin: 0 10%;
  }
}

h1 {
  font-family: "Indie Flower", cursive;
  font-size: 2.5rem;
  color: #FFD000;
  text-shadow: 2px 2px 5px black;
  font-weight: 700;
  text-align: center;
}

.nav-container {
  text-align: center;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul li {
  text-shadow: 2px 2px 5px black;
  font-weight: 700;
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}

ul li a {
  color: #FFDC72;
}

.nav-container li a {
  position: relative;
  z-index: 1;
}

.nav-container li a:hover {
  color: #FFDC72;
}

.nav-container li a:after {
  display: block;
  position: absolute;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '';
  color: transparent;
  background: #000;
  opacity: 0;
  z-index: -1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.nav-container li a:hover:after {
  opacity: .5;
  visibility: visible;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.75);
  height: 100%;
}

.quiz-box-container {
  text-align: center;
  margin-top: 2%;
}

@media screen and (max-width: 480px) {
  .quiz-box-container {
    margin-top: 1%;
  }
}

.choice-box {
  background: rgba(255, 245, 238, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.75);
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.title,
.options {
  padding: 1% 5%;
}

@media screen and (max-width: 480px) {
  .title,
  .options {
    padding: 3%;
  }
}

.q-title {
  padding: 2%;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  .q-title {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
}

.options div {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  .options div {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
}

.answer-box {
  padding: 0 5%;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  .answer-box {
    padding: 5%;
  }
}

.answer-box p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  border-width: 2px 0 2px 0;
  border-style: ridge;
}

@media screen and (max-width: 480px) {
  .answer-box p {
    font-size: 16px;
  }
}

button {
  visibility: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.button-container {
  margin: 2% auto;
}

button,
input,
.button-container a {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: seashell;
  background: royalblue;
  -webkit-box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
}

button:active,
input:active,
.button-container a {
  -webkit-box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

input:focus {
  outline: 1px solid royalblue;
}
/*# sourceMappingURL=styles.css.map */